.project-image {
    width: 50%;
    @extend %clearfix;
}

figure {
    margin: $spacing_unit/4;
    border: 1px solid $grey-color-light;

    figcaption {
        margin-top: 2px;
    }
}

.about-icon {
    width: 15%;
    float: left;
    margin-right: 10px;
    border-radius: 25px;
}

.top-space {
    margin-top: 5px;
}
